#category-widget {
  height: 100%;
  section {
    min-height: 115px;
    height: 100%;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 15px;
  }
}

.radio-item {
  margin-bottom: 5px;
}
